body{
  margin: 0;
  height: 100%;
  background-image: url(блюр1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.menu {
position: relative;
  background-color: #f2f2f2; 
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: center;    
  width: 456px;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
}
  
  
.ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
  
.li {
  display: inline-block; 
  position: relative;
}
.menu:hover{
  width: 500px;
  transition: all .3s ease;
}
.li a{
  text-decoration: none;
  color:#333;
  transition: color .3s ease;
}
.li::after {
  content: "";
  background:  #ad0606;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease;
}

.li:hover::after {
  transform: scaleX(1);
}

.li a:hover {
  color: #ad0606;
  font-weight: bold;
}
  
  a {
    font-size: 20px;
    text-decoration: none; 
    color: #000; 
    padding: 5px 10px; 
  }
    
  a:hover {
    background-color: #eee; 
  }
  
  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main article a img{
    border-radius: 40px;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 575px;
    height: 353px;
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 0;
    background-color: #a5332ba6;
    border-radius: 20px;
  }

  .a, img {
    margin: 0;
    padding: 0;
  }